body {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto';
	color: white;
}

.main_title {
	font:900 48px 'Roboto', sans-serif;
	color: #F9FAF8;
}
.section_one, footer {
	background-color: #1F2937;
	width: 100%;
}

li {
	list-style: none;
}

.description, a {
	font-size: 18px ;
	color: #E5E7EB;
}

header a {
	text-decoration: none;
}

.logo {
	font: bold 24px 'Roboto', sans-serif;
	color: #F9FAF8;
}

button {

	color: white;
	background-color: #3882F6;
	align-self: self-start;
	font-size: 18px;
	padding: 8px;
	border-color: white;
	border-radius: 5px;
}

}
#home_image  img {
	width: 400px;
	height: 300px;
}

.call_action {
	background-color:#3882F6;
}

.section_one {
	display: flex;
	flex-direction: column;
	gap: 48px;
	justify-content: space-evenly;
}

.section_two {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 1;
	color: black;
	padding: 24px;
}
.section_two h2 {
	font: 900 36px 'Roboto', sans-serif;
	color: #1F2937;
	text-align: center;
}
.section_three {
	background-color: #E5E7EB;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
blockquote {
	font:  lighter italic 36px 'Roboto',sans-serif;
	color: #1F2937;
}
blockquote h3 {
	align-self: self-end;
	text-align: right;
}
.hero {
	display: flex;
	flex-direction: column;
	flex-basis: 40%;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
}

.home {
	display:flex;
	justify-content: space-around;
}
.pages {
	display:flex;
	justify-content: space-between;
	gap: 16px;
}

.content {
	display: flex;
	justify-content: space-around;
	flex: 1;
	gap: 24px;
}

.items {
	margin: 24px;

}

footer {
	text-align: center;
}
.section_four {
	margin: 24px;
	padding: 24px;
	border: 12px;
	border-color: white;
}
.call_action {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
	padding: 24px;
	border-radius: 10px;
}

.call_action button {
	align-self: center;
}